.post {
	border-bottom: 1px solid rgba(0,0,0,.07);
	padding-bottom: 60px;
	margin-bottom: 60px;
	position: relative;

	.single & {
		margin-bottom: 20px;
		border-bottom: none;
		padding-bottom: 0px;
	}
}

.blog-header {
	margin-bottom: 5px;
	@include pie-clearfix;

	h3 {
		margin-bottom: 10px; 
		font-size: 28px;
		line-height: 34px;
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		// overflow: hidden;

		a {
			color: $color-dark;
			font-weight: 300;
			padding-bottom: 3px;

			&:hover {
				color: $accent-color;
			}
		}
	}

	.sticky & {
		h3 {
			&::before {
				content: "\f006\0020";
				font-family: "FontAwesome";
				color: #F0ECBF;
			}
		}
	}

	.time {
		@include rtlfloat(right);
		text-align: center;
		// background: #f1f1f1;
		// padding: 3px 4px;
		// @include border-radius(3px);
  		// @include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.2));
  		position: relative;

  		&::before {
  			// position: absolute;
			font-family: 'Typicons';
			top: 0px;
			color: rgb(0, 0, 0);
			font-size: 43px;
			z-index: 1;
			opacity: 0.05;
			line-height: 49px;

	  		.format-standard & {
			  content: "\e062";
			}
			.format-image & {
			  content: "\e03a";
			}
			.format-gallery & {
			  content: "\e08c";
			}
			.format-audio & {
			  content: "\e0c0";
			}
			.format-video & {
			  content: "\e130";
			}
			.format-quote & {
			  content: "\e0b8";
			}
			.format-link & {
			  content: "\e09b";
			}

			// @include ltr {
			// 	right: 55px;
			// }

			// @include rtl {
			// 	left: 55px;
			// }
  		}

  		@include ltr {
			margin: 0px 0 10px 10px;
  		}

  		@include rtl {
			margin: 0 10px 10px 0;
  		}

		.month {
			font-weight: 700;
			font-size: 11px;
			letter-spacing: 2px;
			text-transform: uppercase;
			display: block;
			margin-bottom: 1px;
			margin-left: 2px;
		}

		a {
			font-size: 26px;
			font-weight: 300;
			color: $accent-color;
	  		border-left: 1px solid rgba(0,0,0,.1);
	  		padding-left: 10px;
	  		margin-left: 10px;
	  		float: right;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

// .blog-large .format-standard.has-post-thumbnail,
// .blog-large .format-image.has-post-thumbnail {
// 	.blog-header {
// 		margin-top: -69px;
// 		position: relative;
// 		z-index: 1;

// 		h3 {
// 			display: inline-block;
// 			background: #fff;
// 			padding: 15px 15px 15px 0;
// 		}
// 	}
// }

.blog-media {
	// padding: 5px;
	// border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	position: relative;
	// @include box-shadow(0 1px 1px rgba(0,0,0,.2));
	overflow: hidden;
	// @include border-radius(3px);

	img {
		width: 100%;
	}

	.single-post & {
		margin-bottom: 20px;
	}

	.format-standard &,
	.format-image & {

		a {

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 100%;
				// margin: 4px;
				@include background(linear-gradient(-45deg, adjust-color($accent-color, $hue: 0deg), rgba($accent-color, 0.8)));
				opacity: 0;
				// @include transition(opacity 0.2s);
			}

			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}
	}
}

.blog-content {

	img {
		// padding: 4px;
		@include box-shadow(0 1px 1px rgba(0,0,0,.2));
	}

	.more-link {
		color: $accent-color;
		//@include box-shadow(inset 0 0 0 1px $accent-color);
		padding: 8px 30px;
		font-size: 13px;
		display: inline-block;
		@include border-radius(3px);
  		@include box-shadow(inset 0 0 0 1px rgba(0,0,0,0.1));
	    // background: $accent-color;
	    margin-top: 5px;

	    &::after {
	    	content: "\0020\2192"
	    }

	  &:hover,
	  &:focus {
	    color: #fff;
	    text-decoration: none;
	    background: lighten($accent-color, 5%);
	    @include box-shadow(none);
	  }
	}

	p {
		margin-bottom: 20px;

		&:last-child, &:only-child {
			margin-bottom: 0px;
		}
	}

	.gallery {
		img {
			width: 100%;
			border: none !important;
		}
	}

	table {
		width: 100%;
		border: 1px solid rgba(0,0,0,0.1);
	}

	thead {
		border-bottom: 1px solid rgba(0,0,0,0.05);
	}

	th {
		padding: 5px;
	}

	iframe, embed {
		max-width: 100%;
	}
}

.post-author {
	border-top: 1px solid #e9e9e9;
	padding: 20px 0 0;
	margin-top: 50px;
	@include pie-clearfix;
	position: relative;

	small {
		margin-bottom: 30px;
	}

	.avatar {
		width: 80px;
		position: absolute;
		left: 0;

		img {
			max-width: 80px;
			@include border-radius(50%);
			width: 100%;
			padding: 4px;
			border: 1px solid rgba(0, 0, 0, 0.1);
		}
	}

	.description {
		width: 100%;
		padding-left: 100px;

		.author-name a {
			color: $color-dark;
			font-size: 18px;
			margin-bottom: 10px;
			display: block;
		}

		p:empty {
			min-height: 40px;
		}

	}
}

.entry-meta {
	color: #bababa;
	// font-family: $secondary-font-family;
	font-size: 0.9em;

	.single & {
		margin-bottom: 20px;
	}

	.categories {
		a {
			color: #bababa;
			font-weight: 400;
			display: inline-block;
		}
	}

	.author, .share {

		a  {
			color: #bababa;
			font-weight: 700;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}

	.comments  {
		color: #bababa;
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.format-quote {

	.bc-wrap {
		border: 1px solid rgba(0,0,0,.1);
		padding: 20px;

		.blog-medium & {
			padding-left: 20px;
		}
	}

	.time {
		position: absolute;
		right: 0px;

		@include rtl {
			right: auto;
			left: 0;
		}
	}

	.blog-header {
		position: relative;
	}

	.entry-meta p {
		margin-bottom: 10px;
		padding-right: 70px;

		@include rtl {
			padding-right: 0;
			padding-left: 70px;
		}
	}

	blockquote {
		p {
			font-size: 28px;
			line-height: 34px;
			padding: 0;
			margin-bottom: 20px;
			color: $color-dark;
		}

		footer {
			color: $accent-color;
			@include text-align(left);
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 700;
			font-size: 13px;
			border-top: none;
			padding: 0;

			&::before {
				content: "\2013";
				position: relative;
				top: auto;
				left: auto;
				color: $accent-color;
				font: 13px 'Open Sans';
			}
		}

		&:hover {
			footer {
				border: none;
			}
		}

		&::before {
			content: "";
			background: transparent;
			height: 30px;
			width: 70px;
			display: block;
			float: right;

			@include rtl {
				float: left;
			}

			.single & {
				display: none;
			}
		}

		.blog-masonry & {
			p {
				font-size: 24px;
				line-height: 30px;
			}
		}
	}
}

.format-link {
/*	border: 1px solid rgba(0,0,0,.1);
	padding: 20px;

	.blog-full-width & {
		padding: 0;
	}

	.blog-masonry & {
		padding: 0;
	}*/

	.bc-wrap {
		border: 1px solid rgba(0,0,0,.1);
		padding: 20px;

		.blog-medium & {
			padding-left: 20px;
		}
	}

	h3 a {
		&::after {
			content: "\2002\e01b";
			font-family: "Typicons";
		}
	}

	.link {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 700;
		font-size: 13px;

		&::before {
			content: "\2013\2002";
			color: $accent-color;
		}
	}

	.entry-meta p {
		margin-bottom: 10px;
	}
}

.format-gallery {
	.post-gallery-slider {
		img {
			// width: auto;
			text-align: center;
		}
	}
}

.blog-medium {

	.post.has-post-thumbnail {
		min-height: 284px;
	}

	.blog-media {
		width: 312px;
		position: absolute;
		left: 0;
	}

	.bc-wrap {
		width: 100%;
		padding-left: 0;
	}

	.has-post-thumbnail {
		.bc-wrap {
			padding-left: 342px;
		}
	}

	.no-sidebar & {
		.blog-media {
			width: 412px;
			position: absolute;
		}

		.post.has-post-thumbnail {
			min-height: 343px;
		}

		.has-post-thumbnail {
			.bc-wrap {
				padding-left: 442px;
			}
		}

		.format-gallery.has-post-thumbnail {
			min-height: 398px;
		}
	}

	.format-gallery.has-post-thumbnail {
		min-height: 347px;
	}
}

.blog-masonry {

	.post {
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding-bottom: 0;
		margin-bottom: 30px;

		&:hover {
			@include box-shadow(0 1px 4px rgba(0,0,0,.15));
		}
	}

	.blog-media {
		border: none;
		margin-bottom: 0;

	}

	.bc-wrap {
		padding: 25px;
		position: relative;

		h3 {
			font-size: 24px;
			line-height: 28px;

			&::before {
				font-size: 26px;
			}
		}
	}

	.blog-header {
		margin-bottom: 0;
	}

	// .has-post-thumbnail {
	// 	.time {
	// 		position: absolute;
	// 		top: -73px;
	// 		z-index: 25;

	// 		@include ltr {
	// 			right: 19px;
	// 		}

	// 		@include rtl {
	// 			left: 19px;
	// 			right: auto;
	// 		}
	// 	}
	// }

	.no-sidebar & {
		.col-md-12 {
			text-align: center;
		}
	}

	.pagination {
		margin-top: 20px;
		margin-left: 0;
	}

	.format-link,
	.format-quote {
		.bc-wrap {
			border: none;
		}
	}

	// .col-sm-6 .format-gallery {
	// 	 .blog-media {
	// 		min-height: 315px;
	// 	}
	// }

	// .col-md-4.col-sm-6 .format-gallery {
	// 	 .blog-media {
	// 		min-height: 278px;
	// 	}
	// }
}

.blog-full-width {

	.post {
		border-bottom: 0;
		padding-bottom: 0;
		border: none;
		margin-bottom: 80px;
	}

	.bc-wrap {
		// width: 60%;
		// margin: 0 auto;
		padding: 0;
		padding-bottom: 80px;
		border: none;
		border-bottom: 1px solid #e9e9e9;
	}

	.blog-header {
		// padding: 0 100px;
		margin-bottom: 10px;
		// text-align: center;

		// .time {
		// 	// position: absolute;
		// 	float: none;
		// 	margin: 0 0 30px 0;
		// 	display: inline-block;
		// }
	}

	.blog-media {
		margin-bottom: 35px;

		.single & {
			margin-bottom: 30px;

		}
	}

	.blog-content {
		// padding: 0 100px;
		// font-size: 14px;
		// line-height: 24px;

		.more-link {
			// position: relative;
			// left: 50%;
			// @include transform(translateX(-50%));
			// padding: 10px 50px;
			margin-top: 10px;
		}
	}

	// .pagination {
	// 	position: relative;
	// 	left: 20%;
	// }

	.single & {

		.bc-wrap {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.format-audio {
		.blog-media {
			// width: 60%;
			// margin: 0 auto 30px;
		}
	}

	.format-quote .time {
		float: right;
		position: relative;
		margin: 0;
	}
}

.article-addons {
	margin-top: 45px;

	&:empty {
		margin: 0;
	}
}

.article-share,
.article-tag-list {
	text-transform: uppercase;
	font-size: 12px;
	color: #c4c4c4;
	letter-spacing: 2px;
	width: 50%;

}

.article-share {
	float: right;
	text-align: right;

	span {
		margin-right: 10px;
	}
}

.article-tag-list {
	float: left;

	a {
		background: #f0f0f0;
		margin-left: 5px;
		margin-bottom: 5px;
		padding: 0px 5px;
		letter-spacing: 0px;
		font-weight: 400;
		display: inline-block;
	}
}



/* Comments */
#comments {
	margin-top: 50px;

	h3 {
		font-size: 22px;
		margin-bottom: 30px;
	}
}

.commentslist {
	list-style: none;
	margin: 0;
	padding: 0;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0px;

		@include rtl {
			padding-right: 0px;
		}

		li {
			position: relative;

			@include ltr {
				padding-left: 20px;
				border-left: 1px solid #e2e2e2;
			}

			@include rtl {
				border-right: 1px solid #e2e2e2;
				padding-right: 20px;
			}

			&::before {
				content: "";
				position: absolute;
				top: 20px;
				border-bottom: 1px solid #e2e2e2;
				left: 0;
				width: 20px;

				@include rtl {
					right: 0;
					left: auto;
				}
			}
		}
	}

	#respond {
		margin-bottom: 30px;
	}
}


.the-comment {
	@include pie-clearfix;
		background: #F3F3F3;
		// @include box-shadow(0 1px 1px rgba(0,0,0,.2));
		padding: 25px 15px;
		margin-bottom: 20px;
		position: relative;

	.avatar {
		width: 70px;
		position: absolute;
		top: 14px;
		left: 9px;

		img {
			max-width: 70px;
			@include border-radius(50%);
			width: 100%;
			padding: 4px;
			border: 1px solid rgba(0, 0, 0, 0.1);
		}
	}

	.comment-content {
		width: 100%;
		padding-left: 91px;
		min-height: 75px;

		.meta {
			color: $color-dark;
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 0;
		}
	}

	ul li & {
		.avatar {
			width: 48px;

			img {
				max-width: 48px;
				width: 100%;
			}
		}

		.comment-content {
			width: 100%;
			padding-left: 70px;
			min-height: initial;
		}
	}
}

.bypostauthor {
	@include box-shadow(inset 2px 0 0 $accent-color);

	@include rtl {
		@include box-shadow(inset -2px 0 0 $accent-color);
	}
}

.comments-navigation {
	.pagination {
		margin-top: 20px;
	}
}

.comment-respond {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #e9e9e9;
}

.comment-reply-title small {
	margin-top: 8px;
	float: right;

	a {
		font-size: 13px;
	}
}

#comment-input {
	@include pie-clearfix;
	margin-bottom: 15px;

	.input-group {
		width: 33.33333333333%;
		float: left;
		padding-right: 15px;

		&:last-child {
			padding-right: 0;
		}
	}
}

.form-allowed-tags {
	margin-top: 10px;
	margin-bottom: 0;
}


.form-submit {
display: block;
margin-bottom: 0;
width: 100%;
text-align: right;
margin-top: 10px;

	input {
		width: 200px;
	}
}

.awaiting-moderation {
	text-transform: uppercase;
	background: #E6E6E6;
	display: inline-block;
	letter-spacing: 1px;
	margin-bottom: 7px !important;
	color: #AAAAAA;
	padding: 0px 4px;
}