@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin bg-gradient {
      @include background-image(linear-gradient(-45deg, adjust-color($accent-color, $hue: -30deg), rgba($accent-color, 0.8)));
}