#footer-widget-area {
	padding: 70px 0 70px 0;
	background: $footer-widget-background;
	color: $footer-widget-text-color;
	border-bottom: 1px solid lighten($footer-widget-background, 5%);
	position: relative;

}

#copyrights {
	padding: 30px 0;
	background: $footer-copyrights-background;
	color: $footer-copyrights-text-color;
	font-size: $footer-copyrights-font-size;
	line-height: 18px;

	a {
		color: #cccccc;
		font-weight: 400;
	}

	p {
		margin-bottom: 0;
	}


	.menu {
		list-style: none;
		margin: 0;
		padding: 0;
		float: right;

		li {
			float: left;
			margin-right: 7px;

			&::after {
				content: "\b7";
				margin-left: 7px;
			}

			&:last-child {
				margin: 0;
				&::after {
					content: "";
					margin: 0;
				}
			}
		}
	}
}