.portfolio-fullwidth {
	padding: 15px 30px;

	.container {
		width: 100%;
		padding: 0;
	}
}

.portfolio-items--container {

	.row {
		margin-right: - $portfolio-items-gap / 2;
		margin-left: - $portfolio-items-gap / 2;

		[class*="col-"] {
			padding-left: $portfolio-items-gap / 2;
			padding-right: $portfolio-items-gap / 2;
			margin-bottom: $portfolio-items-gap / 2;
			margin-top: $portfolio-items-gap / 2;
		}
	}
}

.portfolio-item	{
	position: relative;
	overflow: hidden;
	// @include box-shadow(0 1px 1px rgba(0,0,0,.15));
	background: rgba(0,0,0,.2);

	a {
		// display: block;

		img {
			-webkit-backface-visibility: hidden;
			// max-width: none;
			width: 100%;
		}

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		figure {

			small {
				font-size: 11px;
				font-weight: 400;

				&:empty {
					margin: 0;
				}

				.portfolio-cat {
					&:after {
						content: "\002C\0020";
					}

					&:last-child:after {
						content: "";
					}
				}
			}

		}

		.overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			@include background-image(linear-gradient(-45deg, adjust-color($accent-color, $hue: 0deg), rgba($accent-color, 0.8)));
			top: 0;
			left: 0;
			z-index: 3;
			opacity: 0;
			@include transition(opacity 0.1s 0.03s);

			.ie & {
				background: rgba($accent-color, .8);
			}

			.see-more, .quick-view {
				color: #fff;
				position: absolute;
				font-weight: 300;
			}

			.see-more {
				top: 0px;
				left: 30px;
				font-size: 18px;
				opacity: 0;
				@include transition(top 0.3s, opacity 0.2s);

				@include rtl {
					right: 30px;
					left: auto;
				}

				&::after {
					content: "\0020\e01b";
					font-family: 'Typicons';
				}
			}
		}
	}

	.quick-view {
		right: 30px;
		bottom: 0px;
		font-size: 12px;
		text-align: right;
		color: #fff;
		position: absolute;
		font-weight: 400;
		z-index: 4;
		display: block;
		opacity: 0;
		@include transition(bottom 0.3s, opacity 0.2s);

		@include rtl {
			left: 30px;
			right: auto;
			text-align: left;
		}

		&:hover {
			text-decoration: underline !important;
		}


		&::before {
			content: "\f002";
			font-family: 'FontAwesome';
			display: block;
			font-size: 22px;
			top: -20px;
		}
	}

	&:hover {
		a {
			text-decoration: none;
		}
	}
}



.portfolio-masonry {
	position: relative;


	.portfolio-masonry-tall,
	.portfolio-masonry-big {
		.portfolio-item {
			img {
				height: 100%;
				width: auto;
			}
		}
	}

	img {
		max-width: none;
	}
}

.portfolio-style-overlay {
	.portfolio-item {
		a {
			figure {
				position: absolute;
				top: 0px;
				left: 0px;
				letter-spacing: -1px;
				z-index: 2;
				opacity: 1;
				@include transition(top 0.3s, opacity 0.2s);
				padding: 30px;
				width: 100%;
				height: 100%;
				-webkit-backface-visibility: hidden;

				h3 {
					color: #fff;
					font-size: 24px;
				}

				small {
					margin-bottom: 10px;
					color: #fff;
				}
			}
		}


		a.gradient {
			&::before {
				@include background-image(linear-gradient(180deg, rgba(0,0,0,.15), rgba(0,0,0,.0) 90%));
				-webkit-backface-visibility: hidden;
			}
		}

		&:hover {
			a {

				figure {
					top: 30px;
					opacity: 0;
				}

				.overlay {
					opacity: 1;

					.see-more {
						top: 30px;
						opacity: 1;
					}
				}
			}

			.quick-view {
				bottom: 20px;
				opacity: 1;
			}
		}
	}

	// &.portfolio-1col, 
	// &.portfolio-2col {
	// 	.portfolio-item {
	// 		height: 360px;
	// 	}
	// }

	// &.portfolio-3col {
	// 	.portfolio-item {
	// 		height: 260px;
	// 	}
	// }

	// &.portfolio-4col {
	// 	.portfolio-item {
	// 		height: 240px;
	// 	}
	// }
}


.portfolio-style-bottom {
	.portfolio-item {
		background: transparent;
		@include box-shadow(none);

		a {
			figure {
				position: relative;
				padding: 10px 0;
				z-index: 5;
				background: #fff;
				width: 100%;
				bottom: 0;
				left: 0;
				height: 79px;
				// or 74px;
				// text-align: center;

				small {
					margin-bottom: 5px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: $color;
				}

				h3 {
					margin-bottom: 0;
					font-size: 24px;
					line-height: 28px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				&::before {
					content: "\f0d8";
					font-family: 'FontAwesome';
					position: absolute;
					top: -13px;
					left: 20px;
					// left: 50%;
					// @include transform(translateX(-50%));
					color: #fff;
					z-index: 100 !important;
					font-size: 20px;
				}
			}
		}

		.quick-view {
			bottom: 60px;
		}

		&:hover {
			a {
				figure h3 {
					text-decoration: underline;
				}

				.overlay {
					opacity: 1;

					.see-more {
						top: 30px;
						opacity: 1;
					}
				}
			}

			.quick-view {
				bottom: 95px;
				opacity: 1;
			}
		}
	}
}


.project-meta {
	margin-bottom: 50px;

	.project-layout-wide & {
		margin-bottom: 0px;
	}
}

.project-description {
	@include column-count(2);
	@include column-gap(30px);
	padding-right: 15px;

	.project-layout-medium & {
		@include column-count(1);
		@include column-gap(0px);
		padding-right: 0px;

	}
}

.project-info-wrap {
	padding-left: 0;

	.project-meta-fullwidth & {
		padding-left: 15px;
	}
}

.project-info {
	border-left: 1px solid rgba(0,0,0,.1);

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	small {
		margin-bottom: 7px;
	}

	.info-item {
		margin-bottom: 15px;
		padding-left: 30px;

		&:hover {
			@include box-shadow(-1px 0 0 $accent-color);
		}
	}
}

.project-name {
	@include box-shadow(-1px 0 0 $accent-color);
	span {
		// font-weight: 700;
		color: $accent-color;
	}
}

.project-url {
	margin-top: 30px;
}

.project-categories {

	.portfolio-cat {
		&:after {
			content: "\002C\0020";
		}

		&:last-child:after {
			content: "";
		}
	}
}

.project-meta-fullwidth {

	.project-description {
		@include column-count(1);
		padding-right: 0;
	}

	.project-info {
		display: table;
		width: 100%;
		border: none;
		border-top: 1px solid rgba(0,0,0,.1);
		margin-bottom: 50px;
		table-layout: fixed;

		ul {
			display: table-row;

			.info-item {
				display: table-cell;
				padding: 0;
				padding-top: 15px;

				span {
					padding-right: $sidebar-padding;
					overflow-wrap: break-word;
					display: block;
				}

				&:hover {
					@include box-shadow(0px -1px 0 $accent-color);
				}
			}
		}
	}

	.project-name {
		@include box-shadow(none);
	}

	.project-url {
		vertical-align: middle;
	}

	.project-categories {
		.portfolio-cat {
			padding-right: 0 !important;
			display: inline !important;
		}
	}
}


.project-layout-medium {
	margin-bottom: 0;

	.project-description {
		padding-left: 15px;
	}

	.project-info {
		border-left: none;

		.project-name {
				@include box-shadow(none);
		}

		.info-item {
			padding-left: 15px;

			&:hover {
				@include box-shadow(none);
			}
		}
	}

	.col-md-9 {
		padding-right: $sidebar-padding;
	}

}

.project-gallery-wide-wrapper {
	background: #333;
	overflow: hidden;
	padding: 60px 0;
	width: 100%;
}


.project-image-slider-wide.rsElise .rsBullets {
	padding-top: 0px;
	height: 52px;
}

.project-image-inline {
	.rsContent {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/* Project Comments */

.project-comments {
	padding-bottom: 60px;
	padding-top: 30px;

	#comments {
		margin-top: 0;
	}
}

/* Portfolio Filtering */

.project-filtering-wrap {
	background: #333;
	//box-shadow: inset 0 0 3px rgba(#000, .2);
	padding: 30px 0;
	width: 100%;
}

.project-filtering-wrap.f-hidden {
	display: none;
}

.project-filtering {
	width: 100%;
	display: block;
	//border-top: 1px solid #e9e9e9;
	//border-bottom: 1px solid #e9e9e9;
	//margin-bottom: 30px;
}

.filters {
	list-style: none;
	margin: 0;
	padding: 0;
	@include pie-clearfix;

	li {
		float: left;

		.filter-title {
			padding: 10px 30px 10px 0;
			display: block;
			margin: 0;
		}

		a {
			padding: 10px 15px;
			display: block;
			// color: $color;
			cursor: pointer;
			color: #ddd;
			font-weight: 400;
		}

		.active {
			background: $accent-color;
  			@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.1));
  			color: #fff;
  			@include border-radius(3px);
		}
	}
}

.elise-portfolio-shortcode {
	.project-filtering {
		margin-bottom: 20px;

		&.filtering-left {
			text-align: left;
		}

		&.filtering-center {
			text-align: center;
		}

		&.filtering-right {
			text-align: right;
		}
	}

	.filters {
		display: inline-block;
	}

	.filters li a {
		color: #656565;
	}

	.filters li .active {
		color: #fff;
	}
}

/* Isotope transitions */

.portfolio-items--container .row,
.portfolio-items--container .row .item {
	@include transition-duration(0.4s);
  /* change duration value to whatever you like */
}

.portfolio-items--container .row .item {
	@include transition-property(transform, opacity);
}

/**** disabling Isotope CSS3 transitions ****/

.portfolio-items--container .row.no-transition,
.portfolio-items--container .row.no-transition .item,
.portfolio-items--container .row .item.no-transition {
	@include transition-duration(0s);
}