

@media (max-width: 992px) {
	.sidebar-right section[class*="col-"],
	.side-navigation-page.snp-right .content-wrap {
		padding-right: 15px;
		margin-bottom: 40px;
	}
	.sidebar-left section[class*="col-"],
	.side-navigation-page.snp-left .content-wrap {
		padding-left: 15px;
		margin-bottom: 40px;
	}

	.jp-volume {
		display: none;
	}

	.side-navigation li a {
		margin-left: 0px;
	}

	.portfolio-masonry img,
	.portfolio-item a img {
		max-width: 100% !important;
	}

	.col-md-12 .blog-medium .blog-media {
		width: 312px;
	}
	.col-md-12 .blog-medium .has-post-thumbnail .bc-wrap {
		padding-left: 332px;
	}

	.project-description {
		padding-right: 0px;
	}


	.project-info {
		display: table;
		width: 100%;
		border: none;
		border-top: 1px solid rgba(0,0,0,.1);
		margin-bottom: 30px;
		table-layout: fixed;

		ul {
			display: table-row;

			.info-item {
				display: table-cell;
				padding: 0;
				padding-top: 15px;

				span {
					padding-right: 30px;
					overflow-wrap: break-word;
					display: block;
				}

				&:hover {
					@include box-shadow(0px -1px 0 $accent-color);
				}
			}
		}
	}

	.project-name {
		@include box-shadow(none);
	}

	.project-url {
		vertical-align: middle;
	}

	.project-categories {
		.portfolio-cat {
			padding-right: 0 !important;
			display: inline !important;
		}
	}

	.project-info-wrap {
		padding-left: 15px;
	}

	.project-layout-medium {
		.project-description,
		.project-info .info-item {
			padding-left: 0;
		}

		.project-description {
			margin-bottom: 30px;
		}

		.project-gallery {
			margin-bottom: 30px;
		}
	}

	.widget_recent_projects .recent_project li {
		width: 20%;
	}

	.rsElise.rsNavOuter .rsArrow {
		display: none !important;
	}

	.elise-recentposts [class^="col-"] {
		width: 50%;
		float: left;
		margin-bottom: 30px;
	}

	.elise-recentposts .recentposts-row {
		margin-top: 0;
	}

	.pt-columns-3 .elise-pricing-column,
	.pt-columns-4 .elise-pricing-column,
	.pt-columns-5 .elise-pricing-column {
		width: 50%;
	}

	[class^="col-"],
	[class^="vc_col-"],
	.widget {
		margin-bottom: 30px;

		&:last-child,
		.full-width-container > & {
			margin-bottom: 0;
		}
	}

	.woocommerce.columns-3 ul.products li.product, .elise_woo-col-3 ul.products li.product,
	.woocommerce.columns-4 ul.products li.product, .elise_woo-col-4 ul.products li.product,
	.woocommerce.columns-5 ul.products li.product, .elise_woo-col-5 ul.products li.product {
		width: 50%;
	}

	.vc_bg_video {
		width: auto;
		height: 100%;
	}

	.wpb_single_image img {
		// width: 100%;
		max-width: 100%;
	}

	.wpb_single_image {
		text-align: center !important;
	}

}

@media (max-width: 768px) { 
	.section {
		padding: 30px 0 40px 0;
	} 
	.rsElise .rsThumb {
		width: 44px;
		height: 44px;
	}
		.rsElise .rsThumbsHor {
		height: 44px;
	}
		.rsElise .rsThumbsVer {
		width: 44px;
	}
	.article-share, .article-tag-list {
		width: 100%;
	}
	.article-share {
		display: none;
	}

	.page-navigation .breadcrumb,
	.page-title .breadcrumb {
		display: none;
	}

	.page-navigation .buttons {
		display: table;
		table-layout: fixed;
		width: 100%;

		li {
			display: table-cell;
			float: none;
			border-left: none;
		}
		.social-icons li {
			float: left;
		}

		.pn-share-buttons {
			left: 50%;
			width: 41px;
			@include transform(translateX(-50%));

			li {

			}
		}
	}

	.widget,
	.side-navigation {
		margin-bottom: 50px;
	}

	#footer-widget-area {
		padding: 50px 0 10px 0;
	}

	.portfolio-item a figure small {
		display: none;
	}

	.portfolio-item .quick-view {
		display: none;
	}

	.portfolio-masonry.portfolio-style-overlay .col-sm-6 .portfolio-item a figure,
	.portfolio-style-overlay [class*="col-"] .portfolio-item a figure {
		padding: 15px 20px;
	}

	.portfolio-item a .overlay .see-more  {
		display: none;
	}

	[class*="col-"] .portfolio-item a figure h3 {
		font-size: 16px;
		line-height: 28px;
	}

	.portfolio-style-bottom .portfolio-item a figure {
		height: 48px;
	}

	.project-gallery-wide-wrapper {
		padding: 15px 0;
	}

	.blog-medium .blog-media {
		position: relative;
		width: 100%;
	}

	.blog-medium .has-post-thumbnail .bc-wrap {
		padding-left: 0;
	}

	.blog-masonry .col-sm-6 {
		width: 100%;
	}

	.col-md-12 .blog-medium .blog-media {
		width: 100%;
		position: relative;
	}
	.col-md-12 .blog-medium .has-post-thumbnail .bc-wrap {
		padding-left: 0;
	}
	$portfolio-items-gap: 0;

	.portfolio-items--container {

		.row {
			margin-right: - $portfolio-items-gap / 2 !important;
			margin-left: - $portfolio-items-gap / 2 !important;

			[class*="col-"] {
				padding-left: $portfolio-items-gap / 2 !important;
				padding-right: $portfolio-items-gap / 2 !important;
				margin-bottom: $portfolio-items-gap / 2 !important;
				margin-top: $portfolio-items-gap / 2 !important;
			}
		}
	}

	.project-description {
		@include column-count(1);
	}

	.widget_recent_projects .recent_project li {
		width: 33.33333333%;
	}

	.nav-tabs>li {
		width: 100%;
	}

	.col-md-25 {
		width: 50%;
	}

	.full-width-page {
		padding: 0 15px;

		.vc_row_fullwidthcontent {
			margin: 0 -15px !important;
		}
	}

	.timeline-center .elise_timeline_block_wrap {
		width: 100%;
		padding: 0;
	}

	.timeline-center .tl_block_left,
	.timeline-center .tl_block_right {
		padding: 0;
	}

	.timeline-center .tl-arrow {
		display: none;
	}

	.elise-recentposts [class^="col-"] {
		width: 100%;
		float: left;
		margin-bottom: 15px;;
	}

	.pt-featured {
		margin-top: 20px;
	}

	.vc_row_fullwidthcontent .full-width-container [class^="vc_col-"] {
		margin-bottom: 0;
	}

	.wpb_single_image img {
		// width: 100%;
		max-width: 100%;
	}

	.wpb_single_image {
		text-align: center !important;
	}

}

@media (max-width: 568px) {
	.pt-columns-2 .elise-pricing-column,
	.pt-columns-3 .elise-pricing-column,
	.pt-columns-4 .elise-pricing-column,
	.pt-columns-5 .elise-pricing-column {
		width: 100%;
	}
}



@media (min-width: 1200px) {
	.vc_elise_row_fullwidth {
	    width: $container-width;
	}
}

@media (min-width: 1281px) {
	.layout-wide,
	.layout-bordered {
		.vc_row_fullwidthcontent .elise-portfolio-shortcode,
		.portfolio-fullwidth {
			.portfolio-masonry {
				.col-md-4 {
					width: 25%;
				}
				.col-md-8 {
					width: 50%;
				}
			}

			.portfolio-1col {
				.col-md-12 {
					width: 50%;
				}
			}

			.portfolio-2col {
				.col-sm-6 {
					width: 33.33333333%;
				}
			}

			.portfolio-3col {
				.col-md-4 {
					width: 25%;
				}
			}

			.portfolio-4col {
				.col-md-3 {
					width: 20%;
				}
			}
		}
	}
}

// @media (min-width: 1681px) {
// 	.vc_row_fullwidthcontent .elise-portfolio-shortcode,
// 	.portfolio-fullwidth {
// 		.portfolio-masonry {
// 			.col-md-4 {
// 				width: 16.66666667%;
// 			}
// 			.col-md-8 {
// 				width: 33.33333333%;
// 			}
// 		}

// 		.portfolio-3col {
// 			.col-md-4 {
// 				width: 20%;
// 			}
// 		}

// 		.portfolio-4col {
// 			.col-md-3 {
// 				width: 16.66666667%;
// 			}
// 		}
// 	}
// }


.elise-non-responsive {
	.vc_row .vc_col-sm-1,
	.col-xs-1,
	.col-sm-1,
	.col-md-1,
	.col-lg-1 {
	position: relative;
		float: left;
		width: 8.33333333%;
		min-height: 1px;

	}
	.vc_row .vc_col-sm-2,
	.col-xs-2,
	.col-sm-2,
	.col-md-2,
	.col-lg-2 {
		position: relative;
		float: left;
		width: 16.66666667%;
		min-height: 1px;

	}
	.vc_row .vc_col-sm-3,
	.col-xs-3,
	.col-sm-3,
	.col-md-3,
	.col-lg-3 {
		position: relative;
		float: left;
		width: 25%;
		min-height: 1px;

	}
	.vc_row .vc_col-sm-4,
	.col-xs-4,
	.col-sm-4,
	.col-md-4,
	.col-lg-4 {
		position: relative;
		float: left;
		width: 33.33333333%;
		min-height: 1px;

	}
	.vc_row .vc_col-sm-5,
	.col-xs-5,
	.col-sm-5,
	.col-md-5,
	.col-lg-5 {
		position: relative;
		float: left;
		width: 41.66666667%;
		min-height: 1px;

	}
	.vc_row .vc_col-sm-6,
	.col-xs-6,
	.col-sm-6,
	.col-md-6,
	.col-lg-6 {
		position: relative;
		float: left;
		width: 50%;
		min-height: 1px;

	}
	.vc_row .vc_col-sm-7,
	.col-xs-7,
	.col-sm-7,
	.col-md-7,
	.col-lg-7 {
		position: relative;
		float: left;
		width: 58.33333333%;
		min-height: 1px;

	}
	.vc_row .vc_col-sm-8,
	.col-xs-8,
	.col-sm-8,
	.col-md-8,
	.col-lg-8 {
		position: relative;
		float: left;
		width: 66.66666667%;
		min-height: 1px;

	}
	.vc_row .vc_col-sm-9,
	.col-xs-9,
	.col-sm-9,
	.col-md-9,
	.col-lg-9 {
		position: relative;
		float: left;
		width: 75%;
		min-height: 1px;

	}
	.vc_row .vc_col-sm-10,
	.col-xs-10,
	.col-sm-10,
	.col-md-10,
	.col-lg-10 {
		position: relative;
		float: left;
		width: 83.33333333%;
		min-height: 1px;

	}
	.vc_row .vc_col-sm-11,
	.col-xs-11,
	.col-sm-11,
	.col-md-11,
	.col-lg-11 {
		position: relative;
		float: left;
		width: 91.66666667%;
		min-height: 1px;

	}
	.vc_row .vc_col-sm-12,
	.col-xs-12,
	.col-sm-12,
	.col-md-12,
	.col-lg-12 {
		position: relative;
		float: left;
		width: 100%;
		min-height: 1px;

	}
	.vc_row .vc_col-sm-offset-12 {
		margin-left: 100%;
	}
	.vc_row .vc_col-sm-offset-11 {
		margin-left: 91.66666667%;
	}
	.vc_row .vc_col-sm-offset-10 {
		margin-left: 83.33333333%;
	}
	.vc_row .vc_col-sm-offset-9 {
		margin-left: 75%;
	}
	.vc_row .vc_col-sm-offset-8 {
		margin-left: 66.66666667%;
	}
	.vc_row .vc_col-sm-offset-7 {
		margin-left: 58.33333333%;
	}
	.vc_row .vc_col-sm-offset-6 {
		margin-left: 50%;
	}
	.vc_row .vc_col-sm-offset-5 {
		margin-left: 41.66666667%;
	}
	.vc_row .vc_col-sm-offset-4 {
		margin-left: 33.33333333%;
	}
	.vc_row .vc_col-sm-offset-3 {
		margin-left: 25%;
	}
	.vc_row .vc_col-sm-offset-2 {
		margin-left: 16.66666667%;
	}
	.vc_row .vc_col-sm-offset-1 {
		margin-left: 8.33333333%;
	}
	.vc_row .vc_col-sm-offset-0 {
		margin-left: 0%;
	}
	.vc_row .vc_hidden-sm {
		display: none !important;
	}

	.elise_shortcode_recent_projects {
		.portfolio-3col {
			[class^="col-"] {
				width: 33.33333333%;
			}
		}
		.portfolio-4col {
			[class^="col-"] {
				width: 25%;
			}
		}
		.portfolio-5col {
			[class^="col-"] {
				width: 20%;
			}
		}
	}

	.content {
		overflow: visible
	}

	.portfolio-masonry {
		.portfolio-masonry-big,
		.portfolio-masonry-wide {
			width: 66.66666667%;
		}

		.portfolio-masonry-small,
		.portfolio-masonry-tall {
			width: 33.33333333%;
		}
	}

	[class*="col-md-push-"] {
		float: right;
	}

	min-width: 1080px;
}


