/* Side Navigation */
.side-navigation-page {
	&.snp-right {
		.content-wrap {
			padding-right: 45px;
		}
		.sidebar-wrap {
			padding-left: 15px;
		}

	}
	&.snp-left {
		.content-wrap {
			padding-left: 45px;
		}
		.sidebar-wrap {
			padding-right: 15px;
		}

	}
}


.side-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;

	li {
		a {
			display: block;
			padding: 10px 15px;
			color: $color;
			margin-left: -15px;
			font-weight: 400;

			&::after {
				content: "\e01b";
				font-family: "Typicons";
				float: right;
				font-weight: 400;

				@include rtl {
					float: left;
					content: "\e00e";
				}
			}
		}
	}

	.current_page_item {
		padding: 5px 0;
		
		a {
			@include border-radius(3px);
			color: $accent-color;
  			@include box-shadow(inset 0 1px 1px rgba(0,0,0,0.1));
  			background: #f7f7f7;
		}
	}
}
