#sidebar {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.widget {
	margin-bottom: 60px;

    .sidebar-nav-widgets & {
      margin-bottom: 30px;
    }

    &:last-child {
    	margin-bottom: 0;
    }

	h6	{
		// text-transform: uppercase;
		// font-size: 13px;
		// font-weight: 700;
		// letter-spacing: 2px;
		color: $widget-heading-color;

		&:empty {
			margin: 0;
		}

		#footer-widget-area & {
			color: $widget-footer-heading-color;
		}
	}
}

/* Latest News/Comments Widget */
.widget_recent_comments,
.widget_recent_entries,
.widget_rss {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			background: #f2f2f2;
			margin-bottom: 10px;
			padding: 15px;
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #aaa;
			font-family: $font-family;
			@include box-shadow(0 1px 1px rgba(0,0,0,.2));

			#footer-widget-area & {
				background: rgba(#fff, 0.05);
			}

			.post-date, 
			.rss-date {

				&::before {
					content: "\e033\0020";
					font-family: 'Typicons';
				}
			}

			.url {
				display: inline !important;
				font-size: 11px;
				text-transform: uppercase;
				letter-spacing: 1px !important;
				color: #aaa;
				font-family: $font-family;
				line-height: 18px;

				&::after {
					content: "";
				}
			}

			a {
				color: $color-dark;
				font-size: 14px;
				letter-spacing: 0px;
				font-weight: 400;
				display: block !important;
				text-transform: none;
				font-family: $secondary-font-family;
				line-height: 22px;

				#footer-widget-area & {
					color: $footer-widget-text-color;
				}

				// &::after {
				// 	content: "\0020\e01b";
				// 	font-family: 'Typicons';
				// 	font-weight: 400;
				// }
			}
		}
	}
}


.widget_recent_comments {
	ul li {
		&::before {
			content: "\e0b8\0020";
			font-family: 'Typicons';
		}
	}
}

.widget_rss {
	ul li {
		text-transform: none;
		letter-spacing: 0;

		.rss-date {
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		.rssSummary {
			color: $color;
			line-height: 18px;
		}
	}

	h6 .rsswidget {
		color: $color-dark;
		font-weight: 700;
		letter-spacing: 2px;
		color: $widget-heading-color;

		&:first-child {
			&::before {
				content: "\f09e";
				font-family: 'FontAwesome';
				color: $accent-color;
				font-size: 11px;
			}
		}

		img {
			display: none;
		}

		#footer-widget-area & {
			color: #999999;
		}
	}
}

/* News Tabs */
.widget_recent_posts_tab {

	.tab-content {
		padding: 15px;
		background: #fff;

			#footer-widget-area & {
				background: rgba($footer-copyrights-background, 0.7);
				color: $footer-widget-text-color;
			}
	}

	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus {
		background: #fff;

			#footer-widget-area & {
				background: rgba($footer-copyrights-background, 0.7);
				color: $footer-widget-text-color;
			}
	}

	.nav > li > a {
		padding: 15px 0 !important;
	}

	.recent_posts,
	.popular_posts,
	.recent_comments {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 15px;
			border-bottom: 1px solid rgba(0,0,0,.1);
			padding-bottom: 15px;

			.post-date,
			.post-views,
			.comment-author-tab {
				font-size: 11px;
				opacity: .7;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 400;
			}

			.post-date {

				&::before {
					content: "\e033\0020";
					font-family: 'Typicons';
				}
			}

			.post-views {

				&::before {
					content: "\b7\0020";
				}
			}

			.comment-author-tab {

				a {
					font-size: 11px;
					display: inline;
					opacity: 1;
					letter-spacing: 0px;

					&::after {
						content: none;
					}
				}

				&::before {
					content: "\e0b8\0020";
					font-family: 'Typicons';
				}
			}

			a {
				color: $color-dark;
				font-size: 14px;
				letter-spacing: 0px;
				font-weight: 400;
				display: block;
				font-family: $secondary-font-family;
				line-height: 22px;

				#footer-widget-area & {
					color: $footer-widget-text-color;
				}

				// &::after {
				// 	content: "\0020\e01b";
				// 	font-family: 'Typicons';
				// 	font-weight: 400;
				// }
			}

			.recent_comments_excerpt {
				font-size: 13px;
				line-height: 20px;
				font-family: $font-family;
				color: $color;
				text-transform: none;

				&::before {
					content: "\00AB\0020";
				}

				&::after {
					content: "\0020\00BB"
				}

			}

			&:last-child {
				margin-bottom: 0px;
				border-bottom: none;
				padding-bottom: 0px;
			}


		}
	}

	.nav-tabs {

		li {
			text-align: center;
		}

		.recent-posts-tab,
		.popular-posts-tab {
			width: 38%;
		}

		.recent-comments-tab {
			width: 24%;
		}
	}
}

/* Widget Categores */
/*------------------*/

.widget_categories,
.widget_archive,
.woocommerce.widget_product_categories {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			width: 100%;

			a {
				color: $color-dark;
				border-bottom: 1px solid #e9e9e9;
				display: block;
				padding: 10px 0;
				font-weight: 400;

				#footer-widget-area & {
					color: $footer-widget-text-color;
					border-bottom: 1px solid rgba(#fff,0.1);
				}

				&::after {
					content: "\e01b";
					font-family: 'Typicons';
					float: right;
					font-weight: 400;

					@include rtl {
						float: left;
						content: "\e00e";
					}

					.sidebar-nav-widgets & {
						float: left;
						content: "\e00e";
					}
				}
			}


			&:last-child a {
				border-bottom: none;
			}

			#footer-widget-area & {

				&:last-child a {
					border-bottom: none;
				}
			}

			ul {
				li {
					&::before {
						content: "\2014";
						color: #ddd;
						padding: 10px 0;	
						float: left;
						padding-right: 5px;
					}
				}
			}
		}
	}
}




.widget_pages,
.widget_meta,
.widget_nav_menu {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: 2px 0;

			a {
				color: $color-dark;
				font-weight: 400;

				#footer-widget-area & {
					color: $footer-widget-text-color;
				}

			}

			ul {
				li {

					a {

						&::before {
							content: "\2014";
							color: #ddd;
							float: left;
							padding-right: 5px;
						}
					}
				}
			}
		}
	}
}

.widget {
	select {
		width: 100%;
	}
}


/* Calendar Widget */
/*----------------*/
.widget_calendar {
	#calendar_wrap {
		border: 1px solid rgba(#000,.1);

	}

	#wp-calendar {
		width: 100%;

		caption {
			text-transform: uppercase;
			font-size: 13px;
			color: $color;
			padding: 10px 0;
			font-family: $secondary-font-family;
			text-transform: none;
			background: rgba(0,0,0,.05);
			text-align: center;
		}

		thead {
			tr {
				font-family: $secondary-font-family;
				font-size: 11px;

				th {
					text-align: center;
					padding: 5px 0;
				}
			}
		}

		tbody {
			padding-bottom: 5px;
			text-align: center;
			tr {
				font-family: $secondary-font-family;

				td {
					padding: 5px 0;

					a {
						display: block;
					}
				}
			}
		}

		tfoot {
			td {
				padding: 5px;
				background: rgba(0,0,0,.05);
				text-align: center;

				a {
					font-weight: 400;
					color: $color;
					display: block;
					text-indent: -9999px;
					position: relative;

					&::before {
						font-family: "FontAwesome";
						position: absolute;
						width: 15px;
						text-indent: 0;
					}

					&:hover {
						color: $accent-color;
						text-decoration: none;
					}
				}
			}

			tr .pad {
				height: 0;
				font-size: 0;
				padding: 0;
				line-height: 0;
			}

			#prev a::before {
				content: "\f0a8";
				left: 5px;
			}

			#next a::before {
				content: "\f0a9";
				right: 5px;
			}
		}
	}
}



/* Tags */
/*----------------*/
.widget_tag_cloud {
	.tagcloud {
		a {
			background: #f0f0f0;
			margin-right: 5px;
			margin-bottom: 5px;
			padding: 0px 5px;
			letter-spacing: 0px;
			font-weight: 300;
			line-height: 1.6em;

			#footer-widget-area & {
				background: rgba($footer-copyrights-background, 0.7);
				color: $footer-widget-text-color;
			}
		}
	}
}


/* Twitter Widget */
/*----------------*/
.widget-twitter {

	.tweet {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin-bottom: 20px;

				.tweet_time {

					a {
						font-size: 12px;
						opacity: .5;
						color: $footer-widget-text-color;
						font-weight: 400;
					}
				}
			}
		}

		.btn-link {
			margin-top: 10px;
			color: $footer-widget-text-color;
  			@include box-shadow(inset 0 0 0 1px $footer-widget-text-color);

			&:hover {
				color: #fff;
				background: #33ccff;
  				@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.25));
			}

  			&::before {
  				content: "\f099\2002";
  				font-family: 'FontAwesome';
  			}
		}
	}
}

.no-widget-added a {
	color: $accent-color;
	font-weight: 400;
	font-style: italic;
}


/* Widget Recent Projects */
/*------------------------*/
.widget_recent_projects {

	.recent_project {
		list-style: none;
		margin: 0 -3px;
		padding: 0;
		@include pie-clearfix;

		li {
			float: left;
			width: 50%;
			// max-width: 150px;

			.col-md-6 & {
				width: 25%;
			}

			.col-md-4 & {
				width: 33.3333333%;
			}
		}
	}
}

.widget-portfolio-item {
	position: relative;
	overflow: hidden;
	// @include box-shadow(0 1px 1px rgba(0,0,0,.2));
	margin: 3px;

	a {
		display: block;

		img {
			-webkit-backface-visibility: hidden;
			width: 100%;
			max-width: none;
		}

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		.overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			@include background-image(linear-gradient(-45deg, adjust-color($accent-color, $hue: 0deg), rgba($accent-color, 0.8)));
			top: 0;
			left: 0;
			z-index: 3;
			opacity: 0;
			@include transition(opacity 0.1s 0.03s);

			.ie & {
				background: rgba($accent-color, .8);
			}

			.see-more {
				position: absolute;
				font-weight: 300;
				top: 0px;
				left: 0px;
				font-size: 14px;
				opacity: 0;
				@include transition(top 0.3s, opacity 0.2s);
				width: 100%;
				height: 100%;

				h5 {
					padding: 0 15px;
					color: #fff;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 100%;
					max-height: 44px;
					line-height: 22px;
				}
			}
		}
	}

	&:hover {
		a {

			.overlay {
				opacity: 1;

				.see-more {
					top: 15px;
					opacity: 1;
				}
			}
		}
	}
}
