.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	width: 25%;
}

.woocommerce.columns-2,
.elise_woo-col-2 {
	ul.products li.product {
		width: 50%;
	}
}
.woocommerce.columns-3,
.elise_woo-col-3 {
	ul.products li.product {
		width: 33.3333333333%;
	}
}
.woocommerce.columns-4,
.elise_woo-col-4 {
	ul.products li.product {
		width: 25%;
	}
}
.woocommerce.columns-5,
.elise_woo-col-5 {
	ul.products li.product {
		width: 20%;
	}
}

.woocommerce,
.woocommerce-page {
	ul.products {
		margin: 0 -15px;

		li.product {
			margin: 0;
			//width: 33.3333333333%;
			padding: 0 15px;
			margin-bottom: 30px;

			a img {
				@include box-shadow(none);
				margin: 0;
				@include transition(all 0.2s, top .3s);
			}

			.onsale {
				margin: 0;
				width: 120px;
				top: 12px;
				right: -33px;
				z-index: 4;
				min-height: 0;
				min-width: 0;
				line-height: 30px;
				font-size: 13px;
			}

			&:hover {
				h4 {
					text-decoration: underline;
				}

				.woo_elise_thumb-overlay {
					bottom: 0;
				}

				.elise_gallery_image_thumb_overlay {
					top: 0;
				}
			}
		}
	}

	h4 {
		// font-weight: 400;
		// font-size: 20px;
		margin-bottom: 0px;
	}

	span.onsale {
		background: $accent-color;
		@include box-shadow(none);
		text-shadow: none;
		@include border-radius(0);
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 700;
		padding: 0;
		@include transform(rotate(45deg));
				min-height: 0;
				min-width: 0;
				line-height: 30px;
				font-size: 13px;
	}

	.woocommerce-ordering,
	.woocommerce-result-count {
		margin-bottom: 30px;
	}

	table.shop_table {
		@include border-radius(0px);

		&.cart {
			margin-bottom: 50px;
		}

		.quantity {
			margin: 0;
		}

		th {
			background: rgba(0,0,0,.05);
			padding: 15px 12px;
			font-weight: 700;
			letter-spacing: 2px;
			font-size: 11px;
			text-transform: uppercase;
		}

		td {
			padding: 15px 12px;
		}

		td.actions .coupon .input-text {
			//width: 200px;
			padding: 6px 15px;
			width: auto;
			background: #fff;
		}

		td.actions, 
		tfoot th,
		tfoot td {
			background: rgba(0,0,0,.02);
		}
	}

	table.shop_table td small {
		letter-spacing: 0;
		text-transform: none;
		margin-bottom: 0;
		// font-family: $font-family;
	}

	form .form-row label {
		font-size: 11px;
	}

	#customer_details,
	#order_review table.shop_table {
		margin-bottom: 30px;
	}

	.cart,
	.cart-collaterals .shipping_calculator  {
	}

	input.button,
	button.button,
	a.button {
		@include border-radius(3px);
		font-size: 13px;
		@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
		padding: 9px 30px;
		text-shadow: none;
		font-weight: 400;
		background-image: none;
		border: none;
		background: #eee;
		text-shadow: none;
		color: $color;

		&.alt {
			color: #fff;
			text-shadow: none;
			background: $accent-color;

			&:hover {
				text-shadow: none;
				background-image: none;
				background: lighten($accent-color, 5%);
			}
		}

		&:hover {
			text-shadow: none;
			background-image: none;
			background: darken(#eee, 5%);
			//color: $color;
		}
	}

	input.button {
		margin-top: 20px;
	}

	.place-order {

		input.button {
			margin-top: 0px;
		}

	}

	.cart-collaterals .shipping_calculator {
		hr.shadow {
			margin-top: 0;
		}

		.shipping-calculator-button {
			@include box-shadow(inset 0 0 0 1px #ddd);
			float: right;

			&:hover {
   				 @include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
			} 

			&::after {
				content: "\f107";
				font-family: "FontAwesome";
			}
		}
	}

	.shipping-calculator-form {
		width: 100%;

		p.form-row:first-child {
			padding-top: 15px !important;
		}
	}

	form .form-row {
		padding: 3px 0;
	}

	.cart-collaterals .cart_totals table {
		margin: 0;
	}

	.cart_totals {
		h2 {
			font-size: 26px;
			line-height: 30px;
		}

		tbody th {
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 11px;
		}
	}

	.cart-collaterals .cart_totals table th {
		padding: 12px 0;
	}

	.cart-collaterals .cart_totals table td {
		vertical-align: middle;
	}

	.cart-collaterals .cart_totals tr td,
	.cart-collaterals .cart_totals tr th {
		border-top: 1px solid rgba(0,0,0,.1);
	}

	.cross-sells {
		h2 {
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}

	#payment div.payment_box {
		background: #fff;
		@include box-shadow(0 1px 1px rgba(0,0,0,.15));

		&::after {
			border: 8px solid #fff;
			border-right-color: transparent;
			border-left-color: transparent;
			border-top-color: transparent
		}
	}

	#payment div.form-row {
		border-top: none;
	}

	.addresses .title small {
		float: left;
	}

	table.my_account_orders{
		margin-bottom: 50px;
		font-size: 1em;
	}

	h2 {
		font-size: 26px;
		line-height: 30px;
	}

	fieldset {
		margin-top: 50px;

		legend {
			font-size: 22px;
			line-height: 30px;
			font-weight: 300;
			font-family: $secondary-font-family;
		}
	}

	#shipping_method {
		label {
			font-weight: 400;
			// font-family: $font-family;
			font-size: $font-size;
			text-transform: none;
			letter-spacing: 0;
		}
	}

	.woocommerce-price-suffix {
		display: inline;
		font-weight: 400;
		// font-family: $font-family;
		font-size: $font-size;
		text-transform: none;
		letter-spacing: 0;

		.amount {
			&::before {
				content: "/";
				color: #eee;
			}
		}
	}

	.cart-collaterals .cart_totals table tr td,
	table.shop_table td,
	.widget_shopping_cart_content .total {
		small {
			font-weight: 400;
			font-family: $font-family;
			font-size: 11px;
			text-transform: none;
			letter-spacing: 0;
			margin-bottom: 0;
			color: #aaa;
		}
	}
}

@include rtl {
	.nav-shopping-bag .nav-shopping-cart .cart_list li a img {
		float: left;
	}
}

.add_to_cart_inline {
	position: relative;
	// display: inline-block;

	.amount,
	ins .amount {
		font-size: 30px;
		font-weight: 300;
		margin-right: 20px;
		color: $accent-color;
	}

	ins {
		text-decoration: none;
	}

	del .amount {
		margin-right: 0;
		font-size: 16px;
		color: inherit;
	}

	.add_to_cart_button {
 		background: $accent-color;
		@include border-radius(3px);
		@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
		padding: 11px 50px;
		color: #fff;
		font-weight: 300;
		display: inline-block;
		position: relative;

		.fa {
			margin-right: 5px;
		}
	}

	.added_to_cart {
		margin-left: 10px;

		&::after {
			content: "";
		}
	}
}

.woocommerce-checkout {
	.alert {
		margin-bottom: 40px;
	}

	form.checkout_coupon {
		margin-bottom: 40px !important;
		margin-top: -20px !important;
	}

	table.shop_table {
		margin-bottom: 40px !important;
	}
}

p.demo_store {
	background: rgba($accent-color, .9);
	color: #fff;
	border: none;
	bottom: 0px;
	top: auto;
	left: 0;
	padding: 10px;
	@include box-shadow(none);
	width: 100%;
	z-index: 3;
	font-size: 11px;
}

.woocommerce, 
.woocommerce-page {
	form .form-row label.inline {
		float: right;
		margin-top: 24px;
		position: relative;

		input {
			position: absolute;
			left: -20px;
		}
	}

	.lost_password {
		margin-bottom: 0;
		margin-top: 15px;
	}
}

.woocommerce-checkout form.checkout_coupon {
	input.button {
		margin-top: 0 !important;
	}
}

.elise_woo_title {

	h4 {
		display: inline-block;
		width: 65%;
		float: left;
	}

	.price {
		text-align: right;
		width: 35%;
		display: inline-block !important;
		position: relative;
		margin-top: 4px;
		margin-bottom: 0 !important;

		.amount {
			font-size: 16px;
			color: $accent-color;
			font-weight: 600;
			display: inline-block;
		}

		ins {
			text-decoration: none;
		}

		del {
			position: absolute;
			bottom: -24px;
			right: 0;

			.amount {
				color: #aaa;
				font-size: 13px;
				font-weight: 400;
			}
		}
	}

	.star-rating,
	.product-category-title {
		display: block;
		width: 100%;
	}

	.product-category-title {
		float: left;
		color: #aaa;
		font-weight: 400;
		margin-bottom: 5px;
	}
}

ul.alert {
	list-style: none;
	@include pie-clearfix;

	li {
		float: left;
		width: 100%;
	}
}

.alert {
	a.button {
		float: right;
		margin-top: -4px;
	}
}

.elise_woo_imagewrapper {
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}

.woo_elise_thumb-overlay {
	position: absolute;
	bottom: -60px;
	background: rgba($accent-color, .9);
	@include background(linear-gradient(-45deg, adjust-color($accent-color, $hue: 0deg), rgba($accent-color, 0.8)));
	width: 100%;
	height: 60px;
	@include transition(bottom 0.3s);
	z-index: 3;
}

p.myaccount_user,
p.order-info {
	margin-bottom: 40px;
}

p.myaccount_address {
	margin-bottom: 30px;
}

.addresses {
	.address {
		border: 1px solid rgba(0,0,0,.1);
		padding: 15px;
	}
}

.elise_woo_logout {
	position: relative;

	a {
		position: absolute;
		right: 0;
		top: -50px;
	}
}

.elise_woo_add-to-cart,
.elise_woo_view-product {
	width: 50%;
	float: left;
	text-align: center;

	a {
		display: block;
		color: #fff;
		padding: 10px 0;
		font-size: 13px;
		font-weight: 400;

		i {
			display: block;
			font-size: 19px;
		}

		&:hover {
			background: rgba(#fff, 1);
			color: $color;
		}
	}
}

.elise_woo_add-to-cart {
	a.added {
		display: none;
	}

	a:after {
		content: "";
	}

	a.added_to_cart {
		display: block;
		padding: 10px 0;

		&::before {
			content: "\f00c";
			font-family: "FontAwesome";
			display: block;
			font-size: 19px;
		}
	}
}

.elise_gallery_image_thumb_overlay {
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0;
	@include transition(top 2s);
}


/* Product Page */
.woocommerce,
.woocommerce-page {
	div.product,
	#content div.product {
		//overflow: hidden;
		position: relative;
	}

	.product_title {
		margin-bottom: 30px;
	}

	.elise_woo_onsale-wrap {
		height: 90px;
		width: 90px;
		overflow: hidden;
		position: absolute;
		right: 0;
	}

	span.onsale {
		margin: 0;
		width: 120px;
		top: 15px;
		right: -30px;
		left: auto;
		background: rgba($accent-color, .9);
	}

	.elise_woo_price-rating {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.woocommerce-product-rating  {
		// display: block;
		// float: right;
		border-top: 1px solid rgba(#000, .1);
		border-left: 1px solid rgba(#000, .1);
		border-bottom: 1px solid rgba(#000, .1);
		padding: 15px;
		width: 35%;
		// height: 90px;
		display: table-cell;

	}

	.elise_woo_sp_pricing {
		// float: left;
		// width: 65%;
		padding: 15px 0;
		// height: 90px;
		// margin-bottom: 0;
		border-top: 1px solid rgba(#000, .1);
		border-bottom: 1px solid rgba(#000, .1);
		display: table-cell;

		p {
			margin-bottom: 0;
		}

		.amount {
			font-size: 30px;
			color: $accent-color;
			font-weight: 300;
		}

		ins {
			text-decoration: none;
		}

		del {
			.amount {
				font-size: 16px;
				color: #aaa;
			}
		}
	}

	div.product .price {
			color: $accent-color;
			font-weight: 300;
	}

	.elise_woo_short-desc {
		float: left;
		margin-top: 30px;
		width: 100%;
	}

	.elise_woo_sp_small {
		margin-bottom: 10px;
	}

	.woocommerce-product-rating .star-rating {
		margin: 0;
	}

	.woocommerce-review-link {
		margin-top: -6px;
		float: left;
		margin-left: 10px;
		font-weight: 400;
		color: $color;
	}

	form.cart {
		float: left;
		width: 100%;
		margin-top: 20px;
	}

	div.product form.cart div.quantity {
		margin-right: 7px;
	}

	.quantity input.qty {
		height: auto;
		padding: 4px 8px;
		padding-right: 0;
	}

	.quantity .plus,
	.quantity .minus {
		height: 18px;
		background: #eee;
	}

	.quantity .plus {
		@include border-radius(0 3px 0 0);
	}

	.quantity .minus {
		@include border-radius(0 0 3px 0);
	}

	.product_meta {
		float: left;

		> span {
			display: block;
			color: rgba($color, .7);
			font-size: 12px;

			a {
				color: $color;
				font-weight: 400;
			}
		}
	}

	div.product p.stock {
		margin-bottom: 0;
	}

	.star-rating span {
		color: $accent-color;
	}

	.upsells.products ul li.product,
	.upsells.products ul.products li.product,
	.related ul li.product,
	.related ul.products li.product {
		width: 25%;
	}

	#content div.product .woocommerce-tabs,
	div.product .woocommerce-tabs {
		margin-bottom: 50px;
	}

	div.product div.images,
	#content div.product div.images {
		margin-bottom: 50px;
		// padding: 4px;
		// border: 1px solid rgba(0, 0, 0, 0.1);

		img {
			@include box-shadow(none);
		}

		div.thumbnails {
			padding-top: 2px;
			margin: 0 -2px;

			a {
				width: 33.333333333333%;
				margin: 0;
				padding: 2px;
			}
		}
	}

	#reviews #comments {
		margin-top: 0;
	}

	#reviews #comments h2,
	#reviews h3 {
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 30px;
	}

	#reviews label {
		margin-bottom: 5px;
	}

	#reviews #comments ol.commentlist {
		padding: 0;
	}

	#reviews #comments ol.commentlist li .comment-text {
		padding: 15px;
		background: #f3f3f3;
		@include border-radius(0);
		// @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
		border: none;

		p {
			margin-bottom: 0;
		}
	}

	#review_form #respond p {
		margin-bottom: 20px;
	}

	#reviews h3 {
		padding-top: 30px;
		margin-top: 10px;
		border-top: 1px solid #e9e9e9;
	}

	#reviews #comments ol.commentlist li .comment-text p.meta {
		font-size: 1em;
		margin-bottom: 10px;
		color: $color-dark;

		strong {
			font-weight: 400;
		}
	}

	.woocommerce-tabs .tab-content {
		padding-bottom: 10px;
	}

	div.product form.cart .variations,
	#content div.product form.cart .variations {
		border-collapse: initial;
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 15px;
		width: 100%;
		margin-bottom: 20px;
	}

	// .single_variation_wrap {
	// 	.amount {
	// 		font-size: 30px;
	// 	}
	// }

	.reset_variations {
		color: $color;
		font-weight: 400;
		float: right;
		margin-top: 5px;

		&::before {
			content: "\f00d\0020";
			font-family: "FontAwesome";
		}
	}

	nav.woocommerce-pagination {
		padding-top: 30px;
		border-top: 1px solid rgba(0,0,0,.1);
	}

	.sidebar-left {
		nav.woocommerce-pagination {
			text-align: right;
		}
	}

	.sidebar-right {
		nav.woocommerce-pagination {
			text-align: left;
		}
	}

	nav.woocommerce-pagination ul {
		border: none;

		li {
			margin-left: 5px;
			border: none;

			a, span {
				padding: 11px 13px;
				font-weight: 600;
			}

			span.current {
				background: $accent-color;
				color: #fff;
			}

			.next, .prev {
				padding: 6px 8px;
			}
		}
	}

	.woocommerce-result-count {
		margin-top: 7px;
	}
}



.single-product {
	.product-type-variable {
		margin-bottom: 30px; 
		.elise_woo_sp_pricing {
			ins {
				.amount {
					font-size: 24px;
				} 
			}

			del {
				.amount {
					font-size: 14px;
				}
			}
		}

		.single_variation {
			margin-bottom: 20px;

			.amount {
				font-size: 30px;
				color: $accent-color;
				font-weight: 300;
			}

			ins {
				text-decoration: none;
			}

			del {

				.amount {
					color: #aaa;
					font-size: 16px;
					font-weight: 400;
				}
			}
		}
	}
}

div.pp_woocommerce .pp_content_container {
	@include border-radius(0);
	@include box-shadow(0 1px 1px rgba(0,0,0,.2));
}

div.pp_woocommerce .pp_arrow_next, div.pp_woocommerce .pp_arrow_previous {
	text-shadow: none;
	margin-top: 2px;
}




/* Woocommerce widgets */
.woocommerce.widget_product_categories {
	ul {
		li {
			position: relative;

			a {
				font-size: 16px; 
				border-bottom: 1px solid #e9e9e9;
				&::after {
					content: "";
				}
			}

			&:last-child a {
				border-bottom: 1px solid #e9e9e9;

			}

			.count {
				position: absolute;
				right: 0;
				top: 9px;
			}
		}
	}
}

.woocommerce-checkout #payment {
	background: rgba(0, 0, 0, 0.05);
}

.woocommerce a.remove {
	font-weight: 400;
	border: 1px solid;
	@include border-radius(50px);
	line-height: 16px;
	height: 20px;
	width: 20px;
}

.woocommerce,
.woocommerce-page {

	// Price Filter Widget
	.widget_price_filter {
		.price_slider_wrapper .ui-widget-content {
			background: rgba(0,0,0,0.05);
		}

		.ui-slider-horizontal {
			height: 5px;
		}

		.ui-slider .ui-slider-range {
			background: rgba(0,0,0,.03);
			@include box-shadow(none);
		}

		.ui-slider .ui-slider-handle {
			background: $accent-color;
			@include box-shadow(0 0 0 2px #fff);
			border: none;
			width: 10px;
			height: 10px;
			top: -3px;

			&:last-child {
				margin-left: -10px;
			}
		}

		.price_label {
			font-size: 13px;
			color: $color;
			text-align: left;

			.from, .to {
				color: $color-dark;
			}
		}

		.price_slider_amount {
			margin-top: 20px;
		}

		.price_slider_amount .button {

			  color: $accent-color;
			  font-weight: normal;
			  cursor: pointer;
			  @include box-shadow(inset 0 0 0 1px $accent-color);
			  background: transparent;
			  border: none;
			  @include border-radius(3px);
			  font-size: 13px;
			  padding: 8px 16px;
			  text-shadow: none;
			  float: right;

			  &:hover {
			  	background: $accent-color;
  				@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
  				color: #fff;
			  }
		}
	}

	// Layered Nav 
	.widget_layered_nav {
		ul {
			li {
				padding: 0;
				border-bottom: 1px solid rgba(0,0,0,.1);

				a {
					font-weight: 400;
					color: $color-dark;
					padding: 5px 0;
					display: inline-block;
				}

				&.chosen {
					a {
						background: $accent-color;
						color: #fff;
						border: none;
						margin-top: 5px;
						padding: 1px 5px;
						margin-bottom: 5px;
						border-radius: 3px;
					}
				}

				&:last-child {
					border-bottom: none;
				}
			}

			small.count {
				margin: 0;
				padding: 5px 0;
				font-weight: 400;
				font-size: 13px;
				color: $color;
				font-family: $font-family;
				display: inline-block;
				float: right;
			}
		}
	}

	// Layered Nav Filters
	.widget_layered_nav_filters {
		ul {
			li {

				a {
					background: $accent-color;
					color: #fff;
					border: none;
					font-weight: 400;
					margin: 0 2px 2px 0;
					padding: 1px 5px;
					margin-bottom: 5px;
					border-radius: 3px;
					display: inline-block;
				}
			}
		}
	}

	// Shopping Cart
	.widget_shopping_cart,
	.widget_products,
	.widget_recently_viewed_products,
	.widget_recent_reviews,
	.widget_top_rated_products {
		ul {
			li {
				padding: 10px 0;
				border-bottom: 1px solid rgba(0,0,0,.1);

				a {
					font-size: 14px;
					font-family: $secondary-font-family;
					color: $color-dark;
					font-weight: 400;
				}

				.quantity {
					color: $color;

					.amount {
						color: $accent-color;
						font-weight: 600;
					}
				}

				.amount {
					color: $accent-color;
					font-weight: 600;
				}

				ins {
					text-decoration: none;
				}

				del {
					color: #aaa;

					.amount {
						font-weight: 400;
						color: #aaa;
					}
				}

				img {
					width: 40px;
					@include box-shadow(none);
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}

	.widget_shopping_cart .cart_list li {
		padding-top: 10px;

		a.remove {
			top: 15px;
			border: 1px solid;
			line-height: 10px;
			width: 13px;
			height: 13px;
		}
	}

	.widget_shopping_cart {
		.total {
			border-top: 0;
			color: $color;
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 2px;

			&::before {
				content: "";
				background: url(img/shadow-sep.png) no-repeat center;
				height: 15px;
				display: block;
			}

			.amount {
				color: $color-dark;
				letter-spacing: 0;
				font-size: 13px;
				text-transform: none;
			}
		}

		.buttons {
			a.button {
				width: 50% ;
				float: left;
				@include border-radius(3px 0 0 3px);
				padding: 9px 0;
				text-align: center;
				font-size: 12px;
			}

			a.button.checkout {
				background: $accent-color;
				color: #fff;
				@include border-radius(0 3px 3px 0);

				&:hover {
					background: lighten($accent-color, 5%);
				}
			}
		}
	}

	.widget_product_tag_cloud {
		.tagcloud {
			a {
				background: #f0f0f0;
				margin-right: 5px;
				margin-bottom: 5px;
				padding: 0px 5px;
				letter-spacing: 0px;
				font-weight: 300;
				line-height: 1.6em;

				#footer-widget-area & {
					background: #262626;
					color: $footer-widget-text-color;
				}
			}
		}
	}

	.widget_recent_reviews,
	.widget_top_rated_products {
		ul {
			li {
				.reviewer {
					color: rgba(0, 0, 0, 0.5);
					font-size: 13px;
					line-height: 21px;
				}

				.star-rating {
					&::before,
					span::before {
						font-size: 10px;
					}
				}
			}
		}
	}
}




// Search 
.widget_product_search {
	label {
		display: none;
	}

	input[type="text"],
	input[type="search"] {
		width: 70%;
		float: left;
		border-right: none;
		@include border-radius(3px 0 0 3px);
	}

	input[type="submit"] {
		width: 30%;
		padding: 7px 0;
		margin: 0;
		@include border-radius(0 3px 3px 0);
	}
}

.nav-shopping-bag {

	a {
		position: relative;
		width: auto !important;
		font-size: 18px !important;
	}

	.nav-shopping-cart {
		left: auto;
		right: 0;
		width: 300px !important;

		@include rtl {
			right: -266px;
		}

		li {
			padding: 10px 15px;
		}

		span {
			float: none !important;
		}

		.cart_list {
			display: block !important;
			position: relative !important;
			left: 0 !important;
			@include pie-clearfix;
			@include box-shadow(none);
			background: transparent;

			li {
				padding: 5px 0;
				border-bottom: 1px solid rgba(0,0,0,.1);
				padding-left: 2em;
				position: relative;

				&:last-child {
					border-bottom: none;
				}

				&.empty::after {
					content: "";
					display: none;
				}

				a {
					height: auto;
					line-height: 14px;
					border-bottom: none !important;
					display: inline;
					font-size: 14px !important;
					font-weight: 400;
					font-family: $secondary-font-family;
					padding: 0 !important;
					color: $color-dark !important;

					img {
						float: right;
						width: 40px;
						@include box-shadow(none);
					}
				}

				a.remove {
					position: absolute;
					top: 10px;
					color: red !important;
					padding: 2px !important;
					border: 1px solid !important;
					line-height: 7px !important;
					left: 0;
					text-decoration: none;
					display: block;
					@include border-radius(50px);

					&:hover {
						color: #fff !important;
						background: red !important;
					}
				}

				.quantity {
					color: $color;
					float: none !important;
					display: block;
					width: auto;

					.amount {
						color: $accent-color;
						font-weight: 600;
					}
				}

				dl {
					padding-left: 0;
					border-left: 0;

					dd {
						margin: 0;
						padding: 0;
					}

					dt {
						padding: 0;
					}
				}
			}
		}
				
		.total {
			border-top: 0;
			color: $color;
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 2px;
			float: left;
			width: 100%;
			margin-bottom: 20px;

			.amount {
				color: $color-dark;
				letter-spacing: 0;
				font-size: 13px;
				text-transform: none;
			}

			&::before {
				content: "";
				background: url(img/shadow-sep.png) no-repeat center;
				height: 15px;
				display: block;
				margin-top: 10px;
			}
		}

		.buttons {
			float: left;
			width: 100%;
			margin-bottom: 5px;

			a.button {
				float: left;
				width: 50% !important;
				text-align: center;
				font-size: 13px !important;
				background: #eee;
				font-weight: 400;
				padding: 4px 0 !important;
				@include border-radius(3px 0 0 3px);
  				@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15) !important);
  				font-family: inherit;

  				&::after {
  					content: "";
  				}

  				&:hover {
  					background: darken(#eee, 5%);
  					text-decoration: none !important;
  				}
			}

			a.button.checkout {
				background: $accent-color;
				color: #fff !important;
				@include border-radius(0 3px 3px 0);

  				&:hover {
  					background: lighten($accent-color, 5%);
  				}
			}
		}
	}
	
	.woo-cart-items-count {
		position: absolute !important;
		background: $accent-color;
		font-size: 10px;
		@include border-radius(14px);
		top: 50%;
		left: 50%;
		height: 14px;
		line-height: 14px;
		min-width: 14px;
		text-align: center;
		color: #fff;
		@include transform(translate(-50%, -50%));
		margin-top: -12px;
		font-weight: 700;
	}
}

address {
	&:last-child {
		margin-bottom: 0;
	}
}


@include rtl {
	.woocommerce.widget_product_categories ul li .count {
		right: auto;
		left: 0;
	}

	.woocommerce.widget_product_categories ul li a::after {
		content: "";
	}

	.woocommerce .widget_layered_nav ul li a, .woocommerce .widget_layered_nav ul li span, .woocommerce-page .widget_layered_nav ul li a, .woocommerce-page .widget_layered_nav ul li span {
		float: right;
	}

	.widget_categories ul > li ul li::before, .widget_archive ul > li ul li::before, .woocommerce.widget_product_categories ul > li ul li::before {
		float: right;
		padding-right: 0;
		padding-left: 5px;
	}

	.elise_woo_title h4,
	.product_meta,
	.woocommerce-product-rating .star-rating {
		float: right;
	}

	.elise_woo_title .price {
		text-align: left;
	}

	.elise_woo_title .price del {
		right: auto;
		left: 0;
	}

	.elise_woo_sp_pricing {
		border-left: 1px solid rgba(0, 0, 0, 0.1);
	}

	.woocommerce-product-rating {
		border-left: none;
	} 

	.woocommerce-review-link {
		float: right;
		margin-left: 0;
		margin-right: 10px;
	}

	span.onsale {
		right: auto;
		left: -30px;
		@include transform(rotate(-45deg));
	}

	.elise_woo_onsale-wrap {
		right: auto;
		left: 0;
	}

	div.product form.cart div.quantity {
		float: right;
		margin-right: 0;
		margin-left: 7px;
	}

	ul.products li.product .onsale {
		right: auto;
		left: -30px;
	}

	.cart-collaterals .cart_totals {
		text-align: left;
	}

	.cart-collaterals .cart_totals tr td {
		padding-right: 30px;
	}

	.elise_woo_logout a {
		right: auto;
		left: 0;
	}
}